[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "shell/zsh-gcloud-prompt"]
	path = shell/zsh-gcloud-prompt
	url = https://github.com/ocadaruma/zsh-gcloud-prompt.git
